body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: dodgerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: center;
    border: 2px solid dodgerblue;
}

p {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
    padding: 50px;
    margin: 50px;
}